.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit Pin
      .panel-body
        = link_to image_tag @pin.image.url(:medium), style: "display: block; margin: 0 auto;"
        = render 'form'
        = link_to "Cancel", pin_path
